@import "tailwindcss";

@font-face {
	font-family: "Maestro";
	src: url("/fonts/Maestro-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

.maestro {
	font-family: "Maestro";
}
